@import "App";





#mainMenu{
    #startInput-container{
        margin-top: 10%;

        input{
            width: 60%;
            height: 60px;
        }
        
        button{
            //background-color: #430d97;
            background-color: #430d97;
            color: white;
            padding: 15px;
        }
   }
}



#inGame{
    #questionContainer {
        box-shadow: 7px 8px 10px -2px rgba(33, 5, 60, 0.49);
        border-radius: 12px;
    }
}
